name: "Deploy Codiguito"                        # Nombre del proceso que se quiere automarizar

on:
  push:
    branches: ["main"]                          # Indicaci贸n de la rama en donde se va a ejecutar

jobs:
  deploy-codiguito:
    runs-on: ubuntu-latest                      #Tomamos una maquina virtual de github

    steps:                                      #Pasos necesarios para realizar el proceso 

      uses: actions/checkout@v4                 #Se emplea para usar una acci贸n predefinida, que es como un bloque de funcionalidad ya construida 
                                                #por GitHub o la comunidad. Estas acciones ayudan a no tener que escribir todo desde cero.

      run: echo "Hacemos pull del c贸digo"       #echo en consola es como un "print"
      run: echo "Correr migraciones"
      run: echo "Generar bianrio"
      run: echo "Publicar versi贸n"
